<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>list</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <!-- 서버 사이드 랜더링 -->
  <body class="grey-bg">
    <!-- 다른 ejs 파일에 있던 html을 복사해온다 -->
    <%- include('nav.ejs') %>
    <div class="white-bg">
      <!-- for문을 통해 글 갯수만큼 게시물을 작성 -->
      <% for (let i =0; i < posts.length; i++) { %>
      <div class="list-box">
        <!-- 데이터 바인딩 -->
        <h4>
          <a href="/detail/<%= posts[i]._id %>"><%= posts[i].title %></a>
        </h4>
        <p><%= posts[i].content %></p>
      </div>
      <% } %>
    </div>
  </body>
</html>
