<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>list</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body class="grey-bg">
    <div class="white-bg">
      <div class="list-box">
        <h4><%= posts[0].title %></h4>
        <p><%= posts[0].content %></p>
      </div>
      <div class="list-box">
        <h4><%= posts[1].title %></h4>
        <p><%= posts[1].content %></p>
      </div>
    </div>
  </body>
</html>
